<h1>About</h1>
<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>
  <div class="team-members-container">
    <div class="team-member">
      <div class="team-member-pic"><img /></div>
      <h3>Jesse Peplinksi</h3>
    </div>
    <div class="team-member">
      <div class="team-member-pic"><img /></div>
      <h3>Jeremy Conn</h3>
    </div>
    <div class="team-member">
      <div class="team-member-pic"><img /></div>
      <h3>Paul Kwoyelo</h3>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus ante, iaculis ac purus in, placerat aliquam
    risus. Aenean scelerisque metus eu nisi suscipit consequat. Curabitur leo diam, lacinia nec sollicitudin sit amet,
    dignissim vitae orci. Donec suscipit purus in magna commodo, viverra sagittis tortor pharetra. Nam dignissim, nunc
    id
    eleifend convallis, purus urna congue ex, ac cursus nisl ligula non augue. Class aptent taciti sociosqu ad litora
    torquent per conubia nostra, per inceptos himenaeos. Cras blandit maximus libero, ac laoreet elit varius non.
    Curabitur
    sodales iaculis lectus, nec dictum est auctor in. Nullam congue laoreet velit, ac ultrices velit vulputate at.
    Nulla
    nunc odio, placerat ac metus ac, molestie rutrum odio. Mauris blandit lacus nec nisl convallis vehicula. Mauris
    posuere
    pretium massa, non tempus diam maximus nec. Aenean sodales est quis vestibulum interdum. Etiam auctor orci diam,
    sed
    imperdiet eros tempus eget. Sed vel molestie tellus.
    <br>
    <br>
    Nulla facilisi. Donec libero elit, eleifend eget efficitur et, condimentum non leo. Morbi ullamcorper risus tellus,
    eget fringilla magna consequat ac. Aliquam consectetur id diam in ultrices. Donec molestie, enim id tincidunt
    auctor,
    arcu purus sodales est, ut porttitor dolor purus nec risus. Pellentesque pulvinar lorem id felis lacinia egestas.
    Praesent ut lacus non justo molestie lobortis. Curabitur sodales finibus mauris et tempor. Morbi eget nulla eget
    libero
    laoreet finibus id sit amet erat. Phasellus sed aliquet metus.
  </p>
</section>