<h1>Past Events</h1>
<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>
  <div class="past-events-container">
    <p-tabView>
      <p-tabPanel header="2017">
        <div class="winning-team-pic">
          <img src="https://cdn-images-1.medium.com/max/1500/1*X-ufHyclITgfoZj24e2Iuw.jpeg" />
        </div>
        <h3 class="winning-team-name">BookUp</h3>
        <h4 class="winning-team-members">Team: John Smith, Tom O'Conner, Jane Doe</h4>
        <span class="article-date">Published on September 17th, 2018</span>
        <p class="winning-team-recap">
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.<br><br>
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.
        </p>
      </p-tabPanel>
      <p-tabPanel header="2016">
        <div class="winning-team-pic">
          <img src="https://cdn-images-1.medium.com/max/1500/1*LFkMjZ6NTh1-_vfP6Yn8_w.jpeg" />
        </div>
        <h3 class="winning-team-name">BookUp</h3>
        <h4 class="winning-team-members">Team: John Smith, Tom O'Conner, Jane Doe</h4>
        <span class="article-date">Published on September 17th, 2018</span>
        <p class="winning-team-recap">
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and
          selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can
          only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which
          enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.<br><br>
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and
          selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can
          only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which
          enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.
        </p>
      </p-tabPanel>
      <p-tabPanel header="2015">
        <div class="winning-team-pic">
          <img src="https://cdn-images-1.medium.com/max/1500/1*GxvbVqwy1kMeZQDs8Q8WaQ.jpeg" />
        </div>
        <h3 class="winning-team-name">BookUp</h3>
        <h4 class="winning-team-members">Team: John Smith, Tom O'Conner, Jane Doe</h4>
        <span class="article-date">Published on September 17th, 2018</span>
        <p class="winning-team-recap">
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and
          selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can
          only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which
          enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.<br><br>
          The First Runner-up, BookUp, sought to mitigate the financial burden students bear when it comes to buying
          and
          selling
          textbooks. The College Board estimates that the average student in this country spends around $1,200 a year
          on books.
          After students are finished with their textbooks, they can then sell them back to the bookstore. However,
          they can
          only
          do so at a fraction of the price. To address this problem, the BookUp team built a platform for students
          which
          enables
          them to sell their textbooks directly to other students and to name their own prices. Winners walked away
          with $500.
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
  <ng-container *ngIf="">
    <div class="no-events-message">
      <i class="material-icons"> calendar_today </i>
      <h4>No Past Events</h4>
    </div>
  </ng-container>
</section>