<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>

  <div *ngIf="authService.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>

  <!-- User NOT logged in -->
  <ng-template #guest>
    <div class="login-form-container" *ngIf="!sign_up">
      <h1>Welcome</h1>
      <h2>Here's where you login</h2>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" placeholder="" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" placeholder="" formControlName="password" required>
        </div>
      </form>
      <button class="login-button" (click)="loginWithEmail(loginForm.value)" type="submit">Login</button>
      <div class="other-login-container">
        <span>Login with Google/Git</span>
        <div class="button-container">
          <button class="other-login" (click)="authService.googleLogin()">
            <i class="fab fa-google"></i>
          </button>
          <button class="other-login" (click)="authService.gitHubLogin()">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>
      <div class="login-signup-switch-container">
        <span>Don't have an account?</span>
        <button (click)='sign_up = !sign_up'>Click here to sign up</button>
      </div>
    </div>
  <div class="signup-form-container" *ngIf="sign_up">
    <h1>Welcome</h1>
    <h2>Here's where you sign up</h2>
    <form [formGroup]="signUpForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" placeholder="" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="" formControlName="password" required>
      </div>
      <span class="terms">By creating an account you agree to our <a href="#" style="color: #59538D">Terms & Privacy</a>.</span>
      <button class="signup-button" (click)="signUpWithEmail(signUpForm.value)" type="submit">Sign Up</button>
    </form>
    <div class="other-login-container">
      <span>Sign up with Google/Git</span>
      <div class="button-container">
        <button class="other-login" (click)="authService.googleLogin()">
          <i class="fab fa-google"></i>
        </button>
        <button class="other-login" (click)="authService.gitHubLogin()">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </div>
    <div class="login-signup-switch-container">
      <span>Already have an account?</span>
      <button (click)='sign_up = !sign_up'>Click here to login</button>
    </div>
  </div>
  </ng-template>


  <ng-template #authenticated>
    <div *ngIf="authService.user$ | async as user">
      <div *ngIf="authService.checkEmailVerification(); then emailVerified else notVerified"></div>

      <ng-template #emailVerified>
        {{goToProfile()}}
      </ng-template>
      <ng-template #notVerified>
        <h3>We have sent an email with a verification link to {{ user.email }}! <br>
          Please follow the instructions in the email to verify your account.<br>
          if {{user.email }} is not your email address. Click <a (click)="updateEmail = !updateEmail">here</a> to
          change it.
        </h3>
        <br>
        <div *ngIf="updateEmail">
          <p>Update your email and click "Send me a verification link" to get a verification link sent to your updated
            email</p>
          <form [formGroup]="changeEmailForm">
            <div class="form-group">
              <label for="newEmail"><b>New Email: </b></label>
              <input type="text" placeholder="Enter new Email" formControlName="newEmail" required>
            </div>
            <button (click)="changeEmail(changeEmailForm.value); updateEmail = false" type="submit">Update Email</button>
          </form>
        </div>
        <br>
        <h3>If your account is verified refresh this page to get started!</h3>
        <br>
        <br>
        <button (click)="authService.sendVerificationEmail()">Send me a verification link</button>
      </ng-template>
    </div>
  </ng-template>

</section>
