<h1>Sponsors</h1>
<h2 class="cta-caption">Looking to become a sponsor? Want to empower developers to better themselves and work on
  amazing projects? Start here.</h2>
<a class="sponsors-cta" href="#"><span>Become a Sponsor</span></a>
<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>
  <h2 class="section-header">Our Amazing Sponsors</h2>
  <div class="sponsors-container">
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">Upstate Interactive</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">iSchool</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">Cornell University</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">Metis Consulting Group</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">StartFast Venture Accelerator</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">Density</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">The Tech Garden</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">Cafe Kubal</h2>
    </div>
    <div class="single-sponsor-container card">
      <div class="sponsor-logo-container">
        <i class="material-icons"> business </i>
      </div>
      <h2 class="sponsor-title">MongoDB</h2>
    </div>
  </div>

</section>