<section class="countdown-section">
  <time>25<span>days</span>, 7<span>hrs</span>, 22<span>min</span>, 14<span>sec</span></time>
  <h2>Until Hacking Begins!</h2>
  <a class="hero-cta" routerLink="/sign-up"><span>Sign Up Now</span></a>
</section>
<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>
  <div class="main-highlights-container">
    <div class="highlight">
      <div class="highlight-icon-container">
        <i class="material-icons"> computer </i>
      </div>
      <h3 class="highlight-title">Virtual Hackathons</h3>
      <p class="highlight-description">Join a team or go solo for an entirely virtual month long hackathon, kicking off on 
        the 1st of each month</p>
    </div>
    <div class="highlight">
      <div class="highlight-icon-container">
        <i class="material-icons"> calendar_today </i>
      </div>
      <h3 class="highlight-title">Deliverable Tracking</h3>
      <p class="highlight-description">We help you stay on track by setting deliverables to be completed each week of your project</p>
    </div>
    <div class="highlight">
      <div class="highlight-icon-container">
        <i class="material-icons"> attach_money </i>
      </div>
      <h3 class="highlight-title">Funded By You</h3>
      <p class="highlight-description">You determine how big the prize pool is. Three winners. The minimum donation is
        $10 to participate</p>
    </div>
    <div class="highlight">
      <div class="highlight-icon-container">
        <i class="material-icons"> work_outline </i>
      </div>
      <h3 class="highlight-title">Company Sponsorships</h3>
      <p class="highlight-description">We partner with amazing companies to provide you with additional prizes</p>
    </div>
  </div>
  <div class="how-it-works">
    <h2>How It Works</h2>
   

  </div>
</section>