/deep/ app-projects{margin-top: 40px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
/deep/ app-projects h1{color: rgba(255, 255, 255, .7); font-size: 48px; font-family: 'pier_sansbold';}
.wave{overflow: hidden; transform: translateY(-100%); position: absolute; width: 100%;}
.wave svg{fill: #fff; width: 102%; height: auto;}
section.page-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; min-height: 100vh; margin: 150px auto 0 auto; padding: 40px; background: #fff; color: #000; position: relative;}
section.page-container > h1{color: #000; font-family: 'pier_sansbold'; font-size: 26px;} 
section.page-container p{font-size: 16px; line-height: 1.2;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li{background: #fff; color: #000; border: none; border-radius: 3px; padding: 0; margin: 0px;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li a{padding: 10px 15px;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li:hover{background: #ccc; border: none !important; border-radius: 3px; padding: 0;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li:after{content: ''; display: block; opacity: 0; width: 0%; height: 2px; background: #614385;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; position: absolute; bottom: 2px; left: 50%; transform: translate(-50%, 0px); -webkit-transform: translate(-50%, 0px); transition: .25s ease-in-out;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li.ui-state-active:after{width: 80%; opacity: 1;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li.ui-state-active:hover{background: #fff; border: none; border-radius: 3px; padding: 0;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-nav li.ui-state-active a{color: #000; font-weight: 700; padding: 10px 15px;}
.projects-container /deep/ p-tabview .ui-tabview .ui-tabview-panels{margin-top: 20px; border: 1px solid #e6e6e6; box-shadow: 0 5px 6px -3px rgba(0,0,0,0.2); border-radius: 3px; background: #FAFAFA; padding: 0;}
.projects-container /deep/ p-tabview .ui-tabview{padding: 0;}
.projects-container /deep/ p-tabview{width: 100%;}
.projects-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; height: auto; padding: 20px 0;}
.projects-container button.create-new-project{display: flex; justify-content: center; align-items: center; width: 165px; height: 40px; margin: 20px auto; outline: none; border: none; font-size: 16px; font-family: 'pier_sansregular'; letter-spacing: .25px; background: #59538D; color: #fff; box-shadow: 0 5px 6px -3px rgba(0,0,0,0.2); border-radius: 3px; transition: .25s ease-in-out;}
.projects-container button.create-new-project:hover{cursor: pointer; background: #3e3961;}
.projects-container button.create-new-project i{font-size: 17px; margin: 0; padding: 0 8px 0 0; margin-top: 2px;}
form.new-project-form{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; height: auto; padding: 20px;}
form.new-project-form h2{font-size: 24px; font-family: 'pier_sansbold'; color: #000; margin-bottom: 20px;}
form.new-project-form .ui-float-label{margin: 20px 0; color: #000;}
form.new-project-form .ui-float-label label{color: #333; font-family: 'pier_sansregular';}
form.new-project-form .ui-float-label input:focus{outline-color: #59538D; border-color: #59538D;}
form.new-project-form .input-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; margin: 20px 0;}
form.new-project-form .input-container label{color: #000; font-size: 14px; font-family: 'pier_sansbold'; margin-bottom: 10px;}
form.new-project-form .input-container /deep/ p-checkbox label{color: #000; font-size: 14px; font-family: 'pier_sansbold'; margin-bottom: 10px;}
form.new-project-form .input-container textarea{width: 250px; height: 100px;}
form.new-project-form .input-container textarea:focus{outline-color: #59538D; border-color: #59538D;}
form.new-project-form /deep/ .skill-selection-dropdown .ui-multiselect{border: none; border-radius: 3px; font-family: 'pier_sansregular';}
form.new-project-form /deep/ .skill-selection-dropdown .ui-multiselect .ui-multiselect-label-container{width: 195px; font-family: 'pier_sansregular'; border: none; padding: 0 5px;}
form.new-project-form /deep/ .ui-multiselect-panel .ui-multiselect-list{font-family: 'pier_sansregular';}
form.new-project-form /deep/ .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight{background: #59538D;}
form.new-project-form /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active{background: #3E3961; border: #3E3961;}
form.new-project-form /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover{background: #3E3961; border: #3E3961;}
form.new-project-form /deep/ .skill-selection-dropdown  .ui-multiselect-panel .ui-multiselect-items-wrapper{width: 195px; max-height: 180px;}
.my-projects-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; height: auto; padding: 20px;}
.single-project-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start; width: 75%; height: auto; padding: 0 20px 0px 0; margin: 15px 0; border-radius: 5px; background: #fff; box-shadow: 0 5px 6px -3px rgba(0,0,0,0.2);}
.single-project-container .project-thumbnail{display: flex; justify-content: center; align-items: center; flex-shrink: 0; width: 125px; height: 125px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background: #614385;  /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ overflow: hidden;}
.single-project-container .project-thumbnail img{width: 100%; height: 100%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; display: none;}
.single-project-container .project-thumbnail span{width: 75px; height: 75px; border-radius: 100%;}
.single-project-container .project-thumbnail span svg{fill: #fff; transform: translateY(-4px); }
.single-project-container .project-info-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; flex: 1; padding: 0 0 20px 0;}
.single-project-container h2.project-title{font-family: 'pier_sansbold'; font-size: 21px; color: #000; padding: 20px 20px 10px 20px;}
.single-project-container h3.project-team-members{font-family: 'pier_sansmedium'; font-size: 12px; color: #000; padding: 0 20px 20px 20px;}
.single-project-container p.project-description{font-family: 'pier_sanslight'; font-size: 14px; color: #000; padding: 0 20px;}
.other-projects-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; width: 100%; height: auto; padding: 20px;}
.other-projects-container .projects-action-bar{display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; height: 40px; margin-bottom: 20px;}
.other-projects-container .projects-action-bar .project-filter-search{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; height: 100%;}
.other-projects-container .projects-action-bar .project-filter-search .project-search{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; height: 100%; margin-left: 20px; border-radius: 0;}
.other-projects-container .projects-action-bar .project-filter-search .project-search i{font-size: 18px;}
.other-projects-container .projects-action-bar .project-filter-search .table-search{display: block; width: 200px; border: none; border-bottom: 1px solid #333; border-radius: 0; background: transparent; color: #333; font-family: 'pier_sansmedium'; font-size: 12px; margin-left: 3px; padding-left: 5px; transition: .25s ease-in-out;}
.other-projects-container .projects-action-bar .project-filter-search .table-search:focus{border: none; border-bottom: 1px solid #59538D; outline: none;}
.projects-action-bar .fill-teams-toggle-container{display: flex; flex-direction: row; justify-content: flex-end; align-items: center; height: 100%;}
.projects-action-bar .fill-teams-toggle-container label{font-family: 'pier_sansmedium'; font-size: 12px; color: #000; padding-right: 10px;}
.projects-action-bar /deep/ p-inputSwitch .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider{background: #59538D;}
.projects-action-bar /deep/ p-inputSwitch .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider{background: #59538D;}
.projects-action-bar /deep/ p-inputSwitch .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider:before{background: #fff;}
.other-projects-container .projects-action-bar /deep/ .skill-selection-dropdown .ui-multiselect{border: none; border-radius: 3px; font-family: 'pier_sansmedium'; font-size: 12px;}
.other-projects-container .projects-action-bar /deep/ .skill-selection-dropdown .ui-multiselect .ui-multiselect-label-container{display: flex; flex-direction: row; align-items: center; width: 175px; height:30px; font-family: 'pier_sansmedium'; border: none; padding: 0 5px;}
.other-projects-container .projects-action-bar /deep/ .ui-multiselect-panel .ui-multiselect-list{font-family: 'pier_sansregular';}
.other-projects-container .projects-action-bar /deep/ .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight{background: #59538D;}
.other-projects-container .projects-action-bar /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active{background: #3E3961; border: #3E3961;}
.other-projects-container .projects-action-bar /deep/ .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover{background: #3E3961; border: #3E3961;}
.other-projects-container .projects-action-bar /deep/ .skill-selection-dropdown  .ui-multiselect-panel .ui-multiselect-items-wrapper{width: 175px; max-height: 180px;}




@media screen and (max-width: 945px) {
  section.page-container{padding: 40px 20px;}
  .single-project-container{width: 100%;}
}

@media screen and (max-width: 800px) {
  .wave{transform: translateY(-125%);}
   .other-projects-container .projects-action-bar{min-height: 40px; height: auto; align-items: flex-start;}
  .other-projects-container .projects-action-bar .project-filter-search{flex-direction: column-reverse; justify-content: flex-start; align-items: flex-start;}
  .other-projects-container .projects-action-bar .project-filter-search .project-search{margin-bottom: 20px; margin-left: 0;}
}

@media screen and (max-width: 650px) {
  .wave{transform: translateY(-150%);}
  .single-project-container{flex-direction: column; padding-right: 0;}
  .single-project-container .project-thumbnail{width: 100%; border-top-right-radius: 5px; border-bottom-left-radius: 0px;}
}

@media screen and (max-width: 550px) {
  .wave{transform: translateY(-175%);}
  .other-projects-container .projects-action-bar{flex-direction: column-reverse;}
  .projects-action-bar .fill-teams-toggle-container{margin-bottom: 20px;}
}
@media screen and (max-width: 450px) {
  .wave{transform: translateY(-190%);}
}