/deep/ app-login{margin-top: 40px; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }
/deep/ app-login h1{color: rgba(255, 255, 255, .7); font-size: 48px; font-family: 'pier_sansbold';}
section.login-container{display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 100%; min-height: 100vh; margin: 200px auto 0 auto; padding: 40px; background: #fff; color: #000; position: relative;}
section.login-container > h1{color: #000; font-family: 'pier_sansbold'; font-size: 26px;}
section.login-container p{font-size: 16px; line-height: 1.2;}
