<section class="login-container">
  <!--<div *ngIf="">-->
    <p>User name or password is incorrect. please check and try again</p>
  <!--</div>-->
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email"><b>Email: </b></label>
      <input type="text" placeholder="Enter Email" formControlName="email" required>
    </div>
    <br>
    <div class="form-group">
      <label for="password"><b>Password: </b></label>
      <input type="password" placeholder="Enter Password" formControlName="password" required>
    </div>
  </form>
  <button (click)="loginWithEmail(loginForm.value)" type="submit">Login</button>
  <br><br>
  <h3>OR</h3>
  <br>
  <button (click)="authService.googleLogin()">
    login With Google
  </button>
  <br>
  <button (click)="authService.gitHubLogin()">
    login With GitHub
  </button>
</section>


