<h1>Announcements</h1>
<section class="page-container">
  <div class="wave">
    <svg viewBox="0 0 1440 120" aria-hidden="true">
      <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
    </svg>
  </div>
  <h2 class="section-header">{{paramDateService.month}}, {{paramDateService.year}}</h2>
  <ng-container *ngIf="authService.user$ | async as user">

    <!-- READ -->

    <p-toast position="top-center" key="createAnnouncementToastAlert"></p-toast>
    <p-toast position="top-center" key="updateAnnouncementToastAlert"></p-toast>
    <p-toast position="top-center" key="deleteAnnouncementToastAlert"></p-toast>
    <p-toast position="top-center" key="rejectDeleteAnnouncementToastAlert"></p-toast>

    <div class="announcements-container" *ngFor="let announcement of announcements$ | async">
      <ng-container *ngIf="(announcement.isVisible)">


        <!-- TODO: Delete these fields -->
        <!-- <div *ngIf="(announcement.dateCreated.toDate() | date : 'MMMM' == paramDate.month | titlecase)">
          true!
        </div>

        <div *ngIf="(announcement.dateCreated.toDate() | date : 'y' == paramDate.year)">
          true!
        </div> -->

      
        <!-- announcement month: {{announcementDate.month}}
        announcement year: {{announcementDate.year}} -->

        <!-- <p>observable and pipe {{announcement.dateCreated.toDate() | date : 'MMMM'}}</p>
        <p>observable and pipe {{announcement.dateCreated.toDate() | date : 'y'}}</p>

        <p>Date parmams month: {{paramDate.month | titlecase }}</p>
        <p>Date parmams year: {{paramDate.year}}</p>

        <p>announcement month: {{announcementDate.month}}</p>
        <p>announcement year: {{announcementDate.year}}</p> -->

        <ng-container *ngIf="canRead(user)">
          <div class="single-announcement card">
            <a class="announcement-title" [routerLink]="['/hackathons', paramDateService.month, paramDateService.year, 'announcements', announcement.id, announcement.title]"><h2>{{announcement.title}}</h2></a>
            <span class="announcement-created-by">Created By: {{announcement.createdBy}}, on {{announcement.dateCreated.toDate() | date: 'medium'}}</span>
            <h2 class="annoucement-last-updated" *ngIf="announcement.updatedOn">Last Updated: {{announcement.updatedOn?.toDate() | date: 'medium'}}</h2>
            <p class="announcement-content">{{announcement.content}}</p>
            <button class="announcement-edit-button" (click)="editAnnouncement($event, announcement)" *ngIf="canEdit(user, announcement)">Edit <i class="material-icons">edit</i></button>
          </div>
        </ng-container>
        <button *ngIf="editState && announcementToEdit.id == announcement.id" (click)="clearState()">CLOSE ANNOUNCEMENT</button>

        <div *ngIf="editState && announcementToEdit.id == announcement.id">
          <!-- UPDATE -->

          <form (ngSubmit)="updateAnnouncement(announcement)" *ngIf="canEdit(user)">
            <input type="text" placeholder="Add title" [(ngModel)]="announcement.title" name="title">
            <input type="text" placeholder="Add content" [(ngModel)]="announcement.content" name="content">
            <button type="submit" value="Update Announcement">Update Announcement</button>
          </form>

          <!-- DELETE -->

          <p-confirmDialog></p-confirmDialog>

          <!-- ADd pButton icon="pi pi-times" back to this class-->
          <button type="button" (click)="deleteAnnouncement($event, announcement);" value="Delete Announcement" *ngIf="canDelete(user)">Delete
            Announcement</button>

        </div>

        <!-- <router-outlet></router-outlet> -->

      </ng-container>
    </div>
   

  <!-- CREATE -->
  <!-- TODO: Update these flags -->
  <!-- <ng-container *ngIf="isAnnouncementVisible"> -->
    <form (ngSubmit)="createAnnouncementInCollection()" *ngIf="canCreate(user)">
      <input type="text" placeholder="Add title" [(ngModel)]="announcement.title" name="title">
      <input type="text" placeholder="Add content" [(ngModel)]="announcement.content" name="title">
      <button type="submit" value="Add Announcement">Add Announcement</button>
    </form>
  <!-- </ng-container> -->
  </ng-container><!-- END OF AUTH CHECK-->
</section>
