/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'pier_sansblack';
    src: url('/assets/fonts/piersans-black-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansblack_italic';
    src: url('/assets/fonts/piersans-blackitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansbold';
    src: url('/assets/fonts/piersans-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansbold_italic';
    src: url('/assets/fonts/piersans-bolditalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansitalic';
    src: url('/assets/fonts/piersans-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sanslight';
    src: url('/assets/fonts/piersans-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sanslight_italic';
    src: url('/assets/fonts/piersans-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansmedium';
    src: url('/assets/fonts/piersans-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansmedium_italic';
    src: url('/assets/fonts/piersans-mediumitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pier_sansregular';
    src: url('/assets/fonts/piersans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/piersans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Theme Color Variables */
@white: #fff;
@black: #000;

/* Gradient BG's */
.light-bg-gradient {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: .25s ease-in-out;
}
.dark-bg-gradient {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hu-bg-gradient {
    background: #1E5973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #113755 10%, #14705b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #113755 10%, #14705b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: .25s ease-in-out;
}
.twitch-bg-gradient {
    background: #614385;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #59427a, #422d59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.syntax-bg-gradient {
    background: #2A2A29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434341, #1D1D1D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434341, #1D1D1D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.monochrome-bg-gradeint {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.neon-bg-gradient {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* Section and Wave BG */
@light-bg: #faf8ff;
@dark-bg: #202124;
@twitch-bg: #201C2B;
@syntax-bg: #F0C05D;
@monochrome-bg: #f3f3f3;
@neon-bg: #151515;
@hu-bg: #001c30;

/* Footer BG */
@light-footer-bg: #f2eff9;
@dark-footer-bg: #1a1b1f;
@twitch-footer-bg: #17141F;
@hu-footer-bg: #001524;
@syntax-footer-bg: #1D1D1D;
@monochrome-footer-bg: #e4e4e4;
@neon-footer-bg: #000;

/* Card/Panel BG */
@light-card-bg: #fff;
@dark-card-bg: #cce;
// @hu-card-bg: #b3d3c1;
@hu-card-bg: #a2bccf;
@twitch-card-bg: #392E5C;
@syntax-card-bg: #f6dba4;
@monochrome-card-bg: #c1c1c1;
@neon-card-bg: #e43c54;

/* CTA BG */
@light-cta: #59538D;
@dark-cta: #59538D;
@twitch-cta: #392E5C;
@syntax-cta: #1d1d1d;
@monochrome-cta: #333;
@neon-cta: #E83F57;

/* Section Headers */
@light-section-header: #000;
@dark-section-header: #faf8ff;
@hu-section-header: #bce8df;
@twitch-section-header: #cce;
@neon-section-header: #ea687a;

/* Page Headers */
@syntax-page-header: #fbd17d;

*{box-sizing: border-box;}
a{text-decoration: none;}
body{background: #614385;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 font-family: 'pier_sansregular'; color: #fff; transition: .25s ease-in-out;}
body{
  &.light-theme{.light-bg-gradient();
    section.page-container{background: @light-bg;
        h2.section-header{color: @light-section-header;}
        .card{background: @light-card-bg !important;}
    }
    .wave svg{fill: @light-bg !important;}
    footer{background: @light-footer-bg;}
  }
  &.dark-theme{.dark-bg-gradient();
    .main-logo{background: @dark-bg !important; border-color: @dark-bg !important;}
    section.page-container{background: @dark-bg;
        h2.section-header{color: @dark-section-header !important; }
        .card{background: @dark-card-bg !important;}
    }
    .settings-container{
        .settings-panel{background: @dark-card-bg !important;}
    }
    .wave svg{fill: @dark-bg !important;}
    footer{background: @dark-footer-bg;
        span{color: @dark-section-header !important;}
        .scroll-to-top{background: @dark-card-bg !important;
            i{color: @dark-bg;}
        }
    }
  }
  &.hack-upstate-theme{.hu-bg-gradient();
    .main-logo{background: @white !important; border-color: @white !important;
        svg{fill: @hu-bg !important;}
    }
    section.page-container{background: @hu-bg;
        h2.section-header{color: @hu-section-header;}
        .card{background: @hu-card-bg !important;}
    }
    .settings-container{
        .settings-panel{background: @hu-card-bg !important;}
    }
    .wave svg{fill: @hu-bg !important;}
    footer{background: @hu-footer-bg;
        span{color: @hu-section-header;}
        .scroll-to-top{background: @hu-card-bg !important;
            i{color: @hu-footer-bg;}
        }
    }
  }
  &.definitely-not-twitch-theme{.twitch-bg-gradient();
    .main-logo{background: @twitch-bg !important; border-color: @twitch-bg !important;
        svg{fill: @twitch-cta !important;}
    }
    section.page-container{background: @twitch-bg;
        h2.section-header{color: @twitch-section-header;}
        .card{background: @twitch-card-bg !important;}
    }
    .settings-container{
        .settings-panel{background: @twitch-card-bg !important;}
    }
    .wave svg{fill: @twitch-bg !important;}
    footer{background: @twitch-footer-bg;
        span{color: @twitch-section-header;}
        .scroll-to-top{background: @twitch-cta !important;
            i{color: @twitch-section-header;}
        }
    }
  }
  &.syntax-pod-theme{.syntax-bg-gradient();
    h1.page-header{color: @syntax-page-header; opacity: .75;}
    section.page-container{background: @syntax-bg;
        .card{background: @syntax-card-bg !important; }
    }
    .settings-container{
        .settings-panel{background: @syntax-card-bg !important;}
    }
    .wave svg{fill: @syntax-bg !important;}
    footer{background: @syntax-footer-bg;
        span{color: @syntax-card-bg;}
        .scroll-to-top{background: @syntax-card-bg !important;
            i{color: @syntax-footer-bg;}
        }
    }
  }
  &.monochrome-theme{.monochrome-bg-gradeint();
    .main-logo{background: @white !important; border-color: @white !important;
        svg{fill: @black !important;}
    }
    section.page-container{background: @monochrome-bg;
        .card{background: @monochrome-card-bg !important;}
    }
    .settings-container{
        .settings-panel{background: @monochrome-card-bg !important;}
    }
    .wave svg{fill: @monochrome-bg !important;}
    footer{background: @monochrome-footer-bg;}
  }

  &.dark-neon-theme{.neon-bg-gradient();
    section.page-container{background: @neon-bg;
        h2.section-header{color: @neon-section-header;}
        .card{background: @neon-card-bg !important;}
    }
    .wave svg{fill: @neon-bg !important;}
    .settings-container{
        .settings-panel{background: @neon-card-bg !important;}
    }
    footer{background: @neon-footer-bg;
        span{color: @neon-card-bg;}
        .scroll-to-top{background: @neon-card-bg !important;
            i{color: @neon-footer-bg;}
        }
    }
  }
}